body {
    background-color: #f5f5f5;
    font-family: "Segoe UI", sans-serif;
}
#banner {
    background-color: #9cd1e7;
    height: 25vh;
}
nav {
    background-color: #e6e6e6;
}
nav ul {
    list-style-type: none;
    width: 50%;
    margin: auto;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}
nav li {
    display: inline;
}
nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    margin: auto 0;
    text-decoration: none;
    color: black;
}
nav li a:hover {
    background-color: #cccccc;
}
nav #active {
    background-color: #99e2ff;
}
#content {
    margin: 0 20%;
    padding: 20px;
}
#banner, header {
    text-align: center;
}
h1.banner {
    display: inline-block;
}